<div style="background-color: #007fd0; color: white; padding: 10px;">
  <h4><center id="namaTurnamenHasil"><%= user.namaTur %> </center></h4>
</div>
<br>
<div><center><img src="img/ff-banner.jpg" alt="" style="width: 400px;"></center></div>

<div class="card center" style="padding: 15px;">
  <div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr class="table-primary">
            <th scope="col">No.</th>
            <th scope="col">Nama Tim</th>
            <th scope="col">M1R</th>
            <th scope="col">M1K</th>
            <th scope="col">M2R</th>
            <th scope="col">M2K</th>
            <th scope="col">M3R</th>
            <th scope="col">M3K</th>
            <th scope="col">Total</th>
            <th scope="col">Juara</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><%= user.data.tim1.namaTim %></td>
            <td><%= user.data.tim1.m1r %></td>
            <td><%= user.data.tim1.m1k %></td>
            <td><%= user.data.tim1.m2r %></td>
            <td><%= user.data.tim1.m2k %></td>
            <td><%= user.data.tim1.m3r %></td>
            <td><%= user.data.tim1.m3k %></td>
            <td><%= user.data.tim1.total %></td>    
            <td><%= user.data.tim1.rank %></td>   
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><%= user.data.tim2.namaTim %></td>
            <td><%= user.data.tim2.m1r %></td>
            <td><%= user.data.tim2.m1k %></td>
            <td><%= user.data.tim2.m2r %></td>
            <td><%= user.data.tim2.m2k %></td>
            <td><%= user.data.tim2.m3r %></td>
            <td><%= user.data.tim2.m3k %></td>
            <td><%= user.data.tim2.total %></td>    
            <td><%= user.data.tim2.rank %></td>   
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><%= user.data.tim3.namaTim %></td>
            <td><%= user.data.tim3.m1r %></td>
            <td><%= user.data.tim3.m1k %></td>
            <td><%= user.data.tim3.m2r %></td>
            <td><%= user.data.tim3.m2k %></td>
            <td><%= user.data.tim3.m3r %></td>
            <td><%= user.data.tim3.m3k %></td>
            <td><%= user.data.tim3.total %></td>    
            <td><%= user.data.tim3.rank %></td>   
          </tr>
          <tr>
            <th scope="row">4</th>
            <td><%= user.data.tim4.namaTim %></td>
            <td><%= user.data.tim4.m1r %></td>
            <td><%= user.data.tim4.m1k %></td>
            <td><%= user.data.tim4.m2r %></td>
            <td><%= user.data.tim4.m2k %></td>
            <td><%= user.data.tim4.m3r %></td>
            <td><%= user.data.tim4.m3k %></td>
            <td><%= user.data.tim4.total %></td>    
            <td><%= user.data.tim4.rank %></td>   
          </tr>
          <tr>
            <th scope="row">5</th>
            <td><%= user.data.tim5.namaTim %></td>
            <td><%= user.data.tim5.m1r %></td>
            <td><%= user.data.tim5.m1k %></td>
            <td><%= user.data.tim5.m2r %></td>
            <td><%= user.data.tim5.m2k %></td>
            <td><%= user.data.tim5.m3r %></td>
            <td><%= user.data.tim5.m3k %></td>
            <td><%= user.data.tim5.total %></td>    
            <td><%= user.data.tim5.rank %></td>   
          </tr>
          <tr>
            <th scope="row">6</th>
            <td><%= user.data.tim6.namaTim %></td>
            <td><%= user.data.tim6.m1r %></td>
            <td><%= user.data.tim6.m1k %></td>
            <td><%= user.data.tim6.m2r %></td>
            <td><%= user.data.tim6.m2k %></td>
            <td><%= user.data.tim6.m3r %></td>
            <td><%= user.data.tim6.m3k %></td>
            <td><%= user.data.tim6.total %></td>    
            <td><%= user.data.tim6.rank %></td>   
          </tr>
          <tr>
            <th scope="row">7</th>
            <td><%= user.data.tim7.namaTim %></td>
            <td><%= user.data.tim7.m1r %></td>
            <td><%= user.data.tim7.m1k %></td>
            <td><%= user.data.tim7.m2r %></td>
            <td><%= user.data.tim7.m2k %></td>
            <td><%= user.data.tim7.m3r %></td>
            <td><%= user.data.tim7.m3k %></td>
            <td><%= user.data.tim7.total %></td>    
            <td><%= user.data.tim7.rank %></td>   
          </tr>
          <tr>
            <th scope="row">8</th>
            <td><%= user.data.tim8.namaTim %></td>
            <td><%= user.data.tim8.m1r %></td>
            <td><%= user.data.tim8.m1k %></td>
            <td><%= user.data.tim8.m2r %></td>
            <td><%= user.data.tim8.m2k %></td>
            <td><%= user.data.tim8.m3r %></td>
            <td><%= user.data.tim8.m3k %></td>
            <td><%= user.data.tim8.total %></td>    
            <td><%= user.data.tim8.rank %></td>   
          </tr>
          <tr>
            <th scope="row">9</th>
            <td><%= user.data.tim9.namaTim %></td>
            <td><%= user.data.tim9.m1r %></td>
            <td><%= user.data.tim9.m1k %></td>
            <td><%= user.data.tim9.m2r %></td>
            <td><%= user.data.tim9.m2k %></td>
            <td><%= user.data.tim9.m3r %></td>
            <td><%= user.data.tim9.m3k %></td>
            <td><%= user.data.tim9.total %></td>    
            <td><%= user.data.tim9.rank %></td>   
          </tr>
          <tr>
            <th scope="row">10</th>
            <td><%= user.data.tim10.namaTim %></td>
            <td><%= user.data.tim10.m1r %></td>
            <td><%= user.data.tim10.m1k %></td>
            <td><%= user.data.tim10.m2r %></td>
            <td><%= user.data.tim10.m2k %></td>
            <td><%= user.data.tim10.m3r %></td>
            <td><%= user.data.tim10.m3k %></td>
            <td><%= user.data.tim10.total %></td>    
            <td><%= user.data.tim10.rank %></td>   
          </tr>
          <tr>
            <th scope="row">11</th>
            <td><%= user.data.tim11.namaTim %></td>
            <td><%= user.data.tim11.m1r %></td>
            <td><%= user.data.tim11.m1k %></td>
            <td><%= user.data.tim11.m2r %></td>
            <td><%= user.data.tim11.m2k %></td>
            <td><%= user.data.tim11.m3r %></td>
            <td><%= user.data.tim11.m3k %></td>
            <td><%= user.data.tim11.total %></td>    
            <td><%= user.data.tim11.rank %></td>   
          </tr>
          <tr>
            <th scope="row">12</th>
            <td><%= user.data.tim12.namaTim %></td>
            <td><%= user.data.tim12.m1r %></td>
            <td><%= user.data.tim12.m1k %></td>
            <td><%= user.data.tim12.m2r %></td>
            <td><%= user.data.tim12.m2k %></td>
            <td><%= user.data.tim12.m3r %></td>
            <td><%= user.data.tim12.m3k %></td>
            <td><%= user.data.tim12.total %></td>    
            <td><%= user.data.tim12.rank %></td>   
          </tr>
        </tbody>
    </table>
    <p></p>
    <a>M1R (Match 1 Rank)</a>
    <p>M1K (Match 1 Kill)</p>
  </div>
  <div><center><img src="/img/ff-point.jpg" alt="" style="width: 300px;"></center></div>
</div>